
<div id="card" class="container">


  <div class="row">
    <div class="col"></div>
    <div class="col-lg-8 ">
      <h4 class="welcome">Welcome</h4>
      <div class="card">
        
        <h5 class="card-header">Choose one operation</h5>
        <h6 class="text"> This is a student Bio Data form please choose an option from</h6>
        <div id="card-body" class="card-body">
         
          <div style="display: flex;">
            
            <form action="/new" method="get" >
              <button  type="submit" id="createUser" class="btn btn-outline-success ">Create User</button>
            </form>
            
            <form action="/show" method="get" >
              <button type="submit"  id="showUsers" class="btn btn-outline-info ">Show Users</button>
              
            </form>
           
          </div>
        
          
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>


